:root {
    --orange: #ff8034;
    --blue: #83a0ea;
    --fullwidth: 100%;
}

#assetListContainer {
    font-family: Calibri;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    max-width: 60%;
    justify-content: left;
    align-items: self-start;
    margin: auto;
}

#assetListContainer > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: #ffffff;
    margin: 5px;
    width: 100%;
}

#assetListContainer > div > label {
    background-color: #ffffff;
    border-bottom-style: solid;
    border-width: thin;
    border-color: var(--blue);
    margin: 1px;
    padding: 5px;
    font-size: 125%;
    width: 100%;
    text-align: left;
}

.tradeButton {
    color: white;
    background-color: var(--blue);
    border-color: white;
    width: 10%;
    height: fit-content;
}

.tradeButton > hoover {
    background-color: #d0cb96;
}

#name {


}

#code {
    color: var(--orange);
}

#currentPrice {
    background-color: #ffffff;
    flex-grow: 1.2;
}