:root {
    --orange: #ff8034;
    --blue: #83a0ea;
    --fullwidth: 100%;
}

#assetListContainer {
    font-family: Calibri;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    max-width: 60%;
    justify-content: left;
    align-items: self-start;
    margin: auto;
}

#assetListContainer > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: #ffffff;
    margin: 5px;
    width: 100%;
}

#assetListContainer > div > label {
    background-color: white;
    border-bottom-style: solid;
    border-width: thin;
    border-color: var(--blue);
    margin: 1px;
    padding: 5px;
    font-size: 125%;
    width: 100%;
    text-align: left;
}

#graphContainer {
    background-color: #ffffff;
    border-bottom-style: solid;
    border-width: thin;
    border-color: var(--blue);
    width: 100%;

    /*max-height: 5%;*/
    /*height: 5%;*/

    /*max-width: 20%;*/
    /*max-height: 100%;*/

}

#graphContainer > div > div {
    background-color: white;
    color: var(--blue);
    max-height: 50%;
    height: 5%;
    font-size: 0;
    max-height: 20%;
}

#assetListContainer .tradeButton {
    color: var(--blue);
    background-color: white;
    border-style: solid;
    border-color: var(--blue);
    border-width: 3px;
    border-radius: 10%;
    height: fit-content;
    width: fit-content;
    font-size: 90%;
}

#kolomnamen .tradeButton {
    border-width: 0px;
}

#kolomnamen {
    color: var(--blue);
}

.tradeButton.text {
    color: black;
}

.tradeButton > hoover {
    background-color: #d0cb96;
}

#name {


}

#code {
    color: var(--blue);
}

#currentPrice {
    background-color: #ffffff;
    flex-grow: 1.2;
}