:root {
    --orange: #ff8034;
    --blue: #83a0ea;
    --fullwidth: 100%;
}

#assetListContainer {
    font-family: Calibri, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    max-width: 60%;
    justify-content: left;
    align-items: self-start;
    margin: auto;
}

#assetListContainer > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: #ffffff;
    margin: 5px;
    width: 100%;
}

/*dit is de graph zelf, denk ik*/
.selectedAsset > .graphContainer > .priceHistoryGraph > div > div > div {
    height: 300px;
}

.selectedAsset > .graphContainer {
    height: 300px;
}


#assetListContainer > div > label {
    background-color: white;
    border-bottom-style: solid;
    border-width: thin;
    border-color: var(--blue);
    padding: 5px;
    font-size: 125%;
    width: 100%;
    text-align: left;
}

.graphContainer {
    background-color: #ffffff;
    border-bottom-style: solid;
    border-width: thin;
    border-color: var(--blue);
    width: 100%;
}

.graphContainer > div > div {
    background-color: white;
    color: var(--blue);

    height: 5%;
    font-size: 16px;
    max-height: 20%;
}

#assetListContainer .tradeButton {
    color: white;
    background-color: var(--blue);
    border-style: solid;
    border-color: var(--blue);
    border-width: 2px;
    border-radius: 10%;
    height: fit-content;
    width: fit-content;
    font-size: 90%;
}


#kolomnamen {
    color: var(--blue);
}


#code {
    color: var(--blue);
}

#currentPrice {
    background-color: #ffffff;
    flex-grow: 1.2;
}

