:root {
    --orange: #ff8034;
    --blue: #83b0ea;
    --fullwidth: 100%;
    --selected: #5288b7
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    border-width: 0;
    -moz-appearance: textfield;

    width: 20px;
    height: 30%;
}

.assetContainers {
    font-family: Calibri, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    max-width: 60%;
    justify-content: left;
    align-items: self-start;
    margin: auto;
}

.graphContainer {
    display: flex;
    flex-direction: row;
    }

.assetContainers > div {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: #ffffff;
    margin: 5px;
    width: 100%;
    border-bottom-style: solid;
    border-width: thin;
    border-color: var(--blue);
    padding: 5px;
}


.assetContainer .codeContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;

}

.assetContainers > div > label {
    background-color: white;

    padding: 5px;
    font-size: 125%;
    width: 100%;
    text-align: left;
}

/*dit is de graph zelf, denk ik*/
.selectedAsset > .graphContainer > .priceHistoryGraph > div > div > div {
    height: 300px;
}

.selectedAsset > .graphContainer {
    height: 300px;
}

.kolomnamen > label {
    color: black;
}

.tradeButton {
    color: white;
    background-color: var(--blue);
    border-style: solid;
    border-color: var(--blue);
    border-width: 2px;
    border-radius: 10%;
    height: fit-content;
    width: fit-content;
    font-size: 90%;
}
.tradeButton:hover {
     background-color: var(--selected);
    cursor: pointer;
    }

.name {
    color: var(--blue);
}


.code {
    color: var(--blue);
}

.price {
    background-color: #ffffff;
    flex-grow: 1.2;
}

